[submodule "blog"]
	path = source/_posts/blog
	url = git@e.coding.net:iki/blog.git


[submodule "hexo-theme-varaint"]
	path = themes/hexo-theme-varaint
	url =  git@github.com:gorpher/hexo-theme-varaint.git
[submodule "submodule/bash-tutorial"]
	path = submodule/bash-tutorial
	url = git@github.com:gorpher/bash-tutorial.git
